Flask
Flask-Cors
google-genai
google-generativeai
transformers
torch
torchaudio
librosa
soundfile
numpy
scipy
pandas
reportlab
python-dotenv
Pillow
sentencepiece
accelerate
safetensors
huggingface-hub